<!--<div class="form-group prl-swimlane-vis-options">-->
  <!--<h4>Band thresholds</h4>-->
  <!--<p>Enter the lower threshold and color for each band:</p>-->


  <!--&lt;!&ndash;To be scheduled&ndash;&gt;-->
  <!--<div class="threshold-input-container">-->
    <!--<i class="fa fa-circle icon-severity-low" ng-style="{'color':vis.params.toBeScheduledThresholdColor}" aria-hidden="true"></i>-->
    <!--<input type="number" name="to_be_scheduled_input" step="any" class="form-control"-->
      <!--ng-model="vis.params.toBeScheduledThreshold" ng-model-options="{ updateOn: 'blur' }"-->
      <!--less-than="{{vis.params.scheduledThreshold}}"-->
      <!--ng-required="true">-->
    <!--<kbn-info info="Defines lower threshold for values between {{vis.params.toBeScheduledThreshold}} and {{vis.params.scheduledThreshold}}"></kbn-info>-->
    <!--<input colorpicker ng-model="vis.params.toBeScheduledThresholdColor" type="text" class="form-control color-picker-field">-->
    <!--<kbn-info info="Define color for band in hexadecimal format. Click field for colorpicker."></kbn-info>-->
  <!--</div>-->


  <!--&lt;!&ndash;Scheduled&ndash;&gt;-->
  <!--<div class="threshold-input-container">-->
    <!--<i class="fa fa-circle icon-severity-warning" ng-style="{'color':vis.params.scheduledThresholdColor}" aria-hidden="true"></i>-->
    <!--<input type="number" name="scheduled_threshold_input" step="any" class="form-control"-->
      <!--ng-model="vis.params.scheduledThreshold" ng-model-options="{ updateOn: 'blur' }"-->
      <!--greater-than="{{vis.params.toBeScheduledThreshold}}"-->
      <!--less-than="{{vis.params.expectedThreshold}}"-->
      <!--ng-required="true">-->
    <!--<kbn-info info="Defines lower threshold for values between {{vis.params.scheduledThreshold}} and {{vis.params.expectedThreshold}}"></kbn-info>-->
    <!--<input colorpicker ng-model="vis.params.scheduledThresholdColor" type="text" class="form-control color-picker-field">-->
    <!--<kbn-info info="Define color for band in hexadecimal format. Click field for colorpicker."></kbn-info>-->
  <!--</div>-->

  <!--&lt;!&ndash;Expected&ndash;&gt;-->
  <!--<div class="threshold-input-container">-->
    <!--<i class="fa fa-circle icon-severity-minor" ng-style="{'color':vis.params.expectedThresholdColor}" aria-hidden="true"></i>-->
    <!--<input type="number" name="expected_threshold_input" step="any" class="form-control"-->
      <!--ng-model="vis.params.expectedThreshold" ng-model-options="{ updateOn: 'blur' }"-->
      <!--greater-than="{{vis.params.scheduledThreshold}}"-->
      <!--less-than="{{vis.params.canceledThreshold}}"-->
      <!--ng-required="true">-->
    <!--<kbn-info info="Defines lower threshold for values between {{vis.params.expectedThreshold}} and {{vis.params.canceledThreshold}}"></kbn-info>-->
    <!--<input colorpicker ng-model="vis.params.expectedThresholdColor" type="text" class="form-control color-picker-field">-->
    <!--<kbn-info info="Define color for band in hexadecimal format. Click field for colorpicker."></kbn-info>-->
  <!--</div>-->


  <!--&lt;!&ndash;Canceled&ndash;&gt;-->
  <!--<div class="threshold-input-container">-->
    <!--<i class="fa fa-circle icon-severity-major" ng-style="{'color':vis.params.canceledThresholdColor}" aria-hidden="true"></i>-->
    <!--<input type="number" name="canceled_threshold_input" step="any" class="form-control"-->
      <!--ng-model="vis.params.canceledThreshold" ng-model-options="{ updateOn: 'blur' }"-->
      <!--greater-than="{{vis.params.expectedThreshold}}"-->
      <!--less-than="{{vis.params.receivedOnTimeThreshold}}"-->
      <!--ng-required="true">-->
    <!--<kbn-info info="Defines lower threshold for values between {{vis.params.expectedThreshold}} and {{vis.params.receivedOnTimeThreshold}}"></kbn-info>-->
    <!--<input colorpicker ng-model="vis.params.canceledThresholdColor" type="text" class="form-control color-picker-field">-->
    <!--<kbn-info info="Define color for band in hexadecimal format. Click field for colorpicker."></kbn-info>-->
  <!--</div>-->

  <!--&lt;!&ndash;Received on Time&ndash;&gt;-->
  <!--<div class="threshold-input-container">-->
    <!--<i class="fa fa-circle icon-severity-critical" ng-style="{'color':vis.params.receivedOnTimeThresholdColor}" aria-hidden="true"></i>-->
    <!--<input type="number" name="critical_threshold_input" step="any" class="form-control"-->
      <!--ng-model="vis.params.criticalThreshold" ng-model-options="{ updateOn: 'blur' }"-->
      <!--greater-than="{{vis.params.expectedThreshold}}"-->
      <!--less-than="{{vis.params.receivedWithDelayThreshold}}"-->
      <!--ng-required="true">-->
    <!--<kbn-info info="Defines lower threshold for values >= {{vis.params.receivedOnTimeThreshold}}"></kbn-info>-->
    <!--<input colorpicker ng-model="vis.params.receivedOnTimeThresholdColor" type="text" class="form-control color-picker-field">-->
    <!--<kbn-info info="Define color for band in hexadecimal format. Click field for colorpicker."></kbn-info>-->
  <!--</div>-->

  <!--&lt;!&ndash;Received with delay&ndash;&gt;-->
  <!--<div class="threshold-input-container">-->
    <!--<i class="fa fa-circle icon-severity-low" ng-style="{'color':vis.params.receivedWithDelayThresholdColor}" aria-hidden="true"></i>-->
    <!--<input type="number" name="test_threshold_input" step="any" class="form-control"-->
           <!--ng-model="vis.params.receivedWithDelayThreshold" ng-model-options="{ updateOn: 'blur' }"-->
           <!--less-than="{{vis.params.missingThreshold}}"-->

           <!--ng-required="true">-->
    <!--<kbn-info info="Defines lower threshold for values between {{vis.params.receivedOnTimeThreshold}} and {{vis.params.missingThreshold}}"></kbn-info>-->
    <!--<input colorpicker ng-model="vis.params.receivedWithDelayThresholdColor" type="text" class="form-control color-picker-field">-->
    <!--<kbn-info info="Define color for band in hexadecimal format. Click field for colorpicker."></kbn-info>-->
  <!--</div>-->


  <!--&lt;!&ndash;Missing&ndash;&gt;-->
  <!--<div class="threshold-input-container">-->
    <!--<i class="fa fa-circle icon-severity-low" ng-style="{'color':vis.params.missingThresholdColor}" aria-hidden="true"></i>-->
    <!--<input type="number" name="test_threshold_input" step="any" class="form-control"-->
           <!--ng-model="vis.params.missingThreshold" ng-model-options="{ updateOn: 'blur' }"-->
           <!--less-than="{{vis.params.missingThreshold}}"-->
           <!--ng-required="true">-->
    <!--<kbn-info info="Defines lower threshold for values between {{vis.params.missingThreshold}} and {{vis.params.missingThreshold}}"></kbn-info>-->
    <!--<input colorpicker ng-model="vis.params.missingThresholdColor" type="text" class="form-control color-picker-field">-->
    <!--<kbn-info info="Define color for band in hexadecimal format. Click field for colorpicker."></kbn-info>-->
  <!--</div>-->

<!--</div>-->

<!--<div class="form-group">-->
  <!--<h4>Tooltip formatting</h4>-->
  <!--<label>Tooltip number format-->
    <!--<kbn-info info="Number format for tooltip value. For range of options see numeraljs.com"></kbn-info>-->
  <!--</label>-->

  <!--<input type="text" ng-model="vis.params.tooltipNumberFormat" class="form-control">-->
<!--</div>-->

<!--<div class="form-group">-->
  <!--<h4>Legend</h4>-->
  <!--<label>-->
    <!--<input type="checkbox" name="showLegendControl" ng-model="vis.params.showLegend">-->
    <!--Show threshold legend-->
  <!--</label>-->
<!--</div>-->

<!--<div class="form-group">-->
  <!--<h4>Sort lanes</h4>-->
  <!--<label>Order lanes alphabetically-->
    <!--<kbn-info info="Optionally displays the lanes in alphabetical order following the ordering configured for the view by aggregation"></kbn-info>-->
  <!--</label>-->
  <!--<select name="order" ng-model="vis.params.alphabetSortLaneLabels" class="form-control">-->
    <!--<option value="off">No</option>-->
    <!--<option value="asc">Ascending</option>-->
    <!--<option value="desc">Descending</option>-->
  <!--</select>-->
<!--</div>-->